<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF预览器</title>
    <link rel="stylesheet" href="/static/css/pdfh5.css" />
</head>
<body>
    <style>  
    #container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    </style>
    <div id="container"></div>
    <script src="/static/js/pdf.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pdf.worker.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pdfh5.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var pdfh5 = new Pdfh5('#container', {
            pdfurl: "/static/pdf/{{path}}"
        });
    </script>
</body>
</html>